.top-bar {
  text-align: center;
  height: 100%;
  padding-bottom: 0px !important;
}

.card-deck {
  padding-top: 10px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  margin: 0px 0px;
  justify-content: center;
}
.card {
  display: flex !important;
}

.row {
  justify-content: center;
}
.card-header {
  text-align: center;
}

.btn {
  color: white !important;
}
.suggestions {
  text-align: center;
}
.col-9 {
  padding-right: 0px;
}

.col-3 {
  padding-right: 0px;
}
img {
  width: 80%;
}

.recent-classes {
  padding-top: 10px;
  padding-bottom: 10px;
}
